.espacio{
	margin-top: 50px;
}

.formularioProc{
	width: 750px;
}

.inputTxt{
	width: 53%;
	height: 2.5rem;
	background: #eee;
	border-radius: 6px;
	border: 0;
	margin-top: 8px;
}

.formularioProc label{
	padding-bottom: 5px;
}

.selectProc, .selectPlant{
	width: 20%;
	height: 2.5rem;
	background: #eee;
	border-radius: 6px;
	border: 0;
	margin-top: 8px;
}

.subBoton{
	text-align: center;
	padding: 7px 12px;
	border-radius: 8px;
	background: #951228;
	color: #FFF;
	font-weight: bold;
}