.titulo{
	font-size: 2rem;
	text-align: center;
	margin-bottom: 30px;
}

.caja{
	width: 80%;
	margin: 30px auto 0 auto;
	text-align: center;
	overflow: auto;
}

.vistas{
	width: 500px;
	margin: 0 auto;
}

.forma, .forma-rol, .forma-fin{
	margin-top: 50px;
}

.forma{
	text-align: left;
}

.forma div{
	margin-bottom: 10px;
}

.forma label{
	padding-bottom: 8px;
}

.forma .inputTxt{
	width: 100%;
	height: 2.5rem;
	background: #FFF;
	border-radius: 8px;
	border: 1px solid black;
}

.boton{
	text-align: center;
}

.forma-fin{
	text-align: center;
}