
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    float: right;
}

/* Hide default HTML checkbox */
.switch input {
    display:none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 2px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1db28d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1db28d;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.Content{
  width: 90%;
  margin:  20px auto;
  padding: 20px 0;
  border-radius: 12px;
}

.Pendientes-Det{
  max-width: 90%;
  background: #CCC;
  padding: 15px 20px;
  margin:  30px auto 0 auto;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
}

.Tabla{
    width: 90%;
    overflow: auto;
    text-align: center;
    margin: 30px auto 0 auto;
}

.Columnas{
   float: left;
   margin: 0 auto;
}

.Ins, .ActProc{
    text-align: left;
}

.ActProc{
  padding: 10px 30px;
}

.Titulo{
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.Rows p{
   display: inline-block;
   padding: 0 10px;
}

.Rows img{
    width: 20px;
    float: left;
    cursor: pointer;
}

.Rows p, img, label{
  margin: 10px 0;
}

.Rows{
    overflow: hidden;
}

/*.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 10px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(75px);
  -ms-transform: translateX(75px);
  transform: translateX(75px);
}

/*------ ADDED CSS ---------*
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{
  display: block;
}

input:checked + .slider .off
{display: none;}

/*--------- END --------*

/* Rounded sliders *
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}*/