.title{
	font-size: 2rem;
	text-align: center;
}


.selectPlantEdit{
	width: 70%;
	height: 2.5rem;
	background: #eee;
	border-radius: 6px;
	border: 0;
	margin-top: 8px;

}

.formularioCentrado{
	border-radius: 12px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 5px solid #951228;
	text-align: center;
	width: 600px;
	font-size: 1.2rem;
}