.caja{
	width: 80%;
	margin: 10px auto 0 auto;
	text-align: center;
	overflow: auto;
}

.titulo{
	font-size: 2rem;
	text-align: center;
	margin-top: -10px;
}

.subtitle{
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 10px;
	background: #951228;
	color: white;
	padding: 5px 0;
}

.formulario, .formularioProc{
	border-radius: 12px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 5px solid #951228;
	text-align: left;
	font-size: 1.2rem;
}
.formulario{
	width: 600px;
}
/* .formulario label{
	color: white;
} */

.subCaja{
	padding: 10px 20px 5px 20px;
	margin-bottom: 0px;
}

.formulario .inputTxt{
	width: 100%;
	height: 2.5rem;
	background: #eee;
	border-radius: 6px;
	border: 0;
	margin-top: 8px;
}

.subCaja div{
	margin-bottom: 12px;
}

.formulario label{
	padding-bottom: 5px;
}

.boton{
	text-align: center;
	padding: 7px 12px;
	border-radius: 20px;
	background: #641119;
	color: #FFF;
	font-weight: bold;
}
.btn{
	margin-bottom: 0;
	padding-top: 5px;
	text-align: center;
}