.formularioProc{
	width: 750px;
	border-radius: 12px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: 5px solid #951228;
	text-align: left;
	font-size: 1.2rem;
}

.subtitle{
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 10px;
	background: #951228;
	color: white;
	padding: 5px 0;
}

.formularioProc label{
	padding-bottom: 5px;
}

ul{
	list-style: none;
}
.listadoProcesos{
	padding: 20px;
	text-align: center;
}

.listadoProcesos label{
	font-size: 1.2rem;
	width: 50%;
	display: inline-block;
	margin-left: 10px;
	text-align: left;
}

.listadoProcesos li{
	border-top: 1px solid #951228;
	border-bottom: 1px solid #951228;
	margin: 15px 0;
	padding: 8px 0;
}

.actividadFigure{
	border-radius: 3px;
	width: 1rem;
	height: 1rem;
	display: inline-block;
	background: #951228;
}

.indicador{
	display: inline-block;
	width: 30%;
}

.procesoFigure, .SemVerde, .SemAmarillo, .SemRojo{
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	display: inline-block;
}

.procesoFigure{
	background: #951228;
}

.estrucuraIndicadores p, .estrucuraIndicadores label{
	font-size: 1.1rem;
}

.indicadores{
	display: inline-block;
	text-align: center;
	width: 54%;
}

.datosIndic{
	float: left;
	width: 44%;
	text-align: center;
	top: 0;
	margin-top: 50px;
}

.llenadoIndicador{
	margin-top: 5px;
	padding: 20px;
}

.llenadoIndicador label, .llenadoIndicador p{
	display: inline-block;
	width: 150px;
	text-align: left;
}


.llenadoIndicador p{
	vertical-align: top;
	margin-top: 15px;
}

.dataProceso{
	padding: 10px;
}

.Semval{
	display: inline-block;
}

.SemVerde{
	background: #1db28d;
}
.SemAmarillo{
	background: #fafa09;
}
.SemRojo{
	background: #dc304b;
}

.txtLlenado, .txtAreaLlenado{
	background: #eee;
	border-radius: 6px;
	border: 0;
	margin-top: 8px;
}

.txtAreaLlenado{
	max-width: 60%;
	min-width: 60%;
	min-height: 75px;
	max-height: 125px;
	display: inline-block;
}

.txtLlenado{
	height: 2rem;
	width: 60%;
}

.tituloEstrategia p, .tituloEstrategia div{
 	display: inline-block;
 	margin-top: 0;
}

.tituloEstrategia{
	text-align: center;
}
.tituloEstrategia p{
	text-align: right;
}

.botones{
	padding: 10px 0 30px 0;
	text-align: center;
}

.botonesInternos{
	padding: 0 0 10px 0;
	text-align: center;
}
.boton{
	text-align: center;
	padding: 7px 15px;
	border-radius: 20px;
	background: #641119;
	color: #FFF;
	font-weight: bold;
}

.listadoProcesos .botones{
	padding: 10px 0 10px 0;
}

.llenadoIndicador form{
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

.btnAplicar{
	margin-left: 150px;
}