.areaTxt{
	width: 78%;
	max-width: 78%;
	min-width: 78%;
	height: 50px;
	min-height: 50px;
	max-height: 100px;
	display: inline-block;
	/* margin-top: 0; */
}

.config{
	display: inline-block;
	padding-top: 10px;
	position: absolute
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    /* float: right; */
}

/* Hide default HTML checkbox */
.switch input {
    display:none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 2px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1db28d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1db28d;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.chek p{
	display: inline-block;
	font-size: 1.1rem;
}