.flujo{
	overflow: auto;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	display: inline-block;
}

.flujo li{
	/* display: inline-block; */
	float: left;
	text-align: center;
	list-style: none;
}

.circulo{
	width: 80px;
	height: 80px;
	border: 4px solid #ccc;
	border-radius: 50%;
}

.linea{
	width: 120px;
	border: 2px solid #ccc;
	margin-top: 39px;
}

.verde{
	border-color: #a0b20a;
	background: #a0b20a;
}
