/********************\
  $Reset ☰
\********************/
* {
  box-sizing:border-box;
}
body {
  margin:0;
  padding:0;
  background-color:#A9BC00;
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  text-decoration:none;
}
/********************\
  $Layout ☰
\********************/

/*Damos estilos al menú*/
.nav {
  position:absolute;
  width:250px;
  height:100vh;
  top:0;
  left:-270px; /*Ocultamos el menú en la parte izquierda para que no se vea a menos que pulsemos sobre la hamburguesa*/
  padding-top:75px;
  background-color: #951228;
  /*border-right:4px solid rgba(114, 126, 3, 1);*/
  transition:all .5s ease; /*Damos a la caja del menú una transición para que tenga un desplazamiento suave*/
}
/*Estilos de los li del menú*/
.nav__item {
  display:block;
  padding: 10px 0 10px 25px;
  width:100%;
  margin:0 auto;
  line-height:2;
  position:relative; /*Le damos una posición relativa para posteriormente añadirle el triangulo que indica que se está en la página actual del menú*/
  /*border-bottom:.5px solid rgba(59, 62, 61, 1);*/
  /*border-top:.5px solid rgba(59, 62, 61, 1);*/
  background-color:transparent;
  font-family: 'Lato', sans-serif;
  text-align:left;
  color:#FFF;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav__item:hover{
  background-color: #641119;
}

.nav_selected{
  background-color: #641119;
}

.tab{
  padding-left: 50px;
  font-weight: normal;
}
/*Damos colocamos el triangulo negro a la pestaña del menú dónde nos encontramos actualmente*/
.current:before {
  content:"";
  width:0;
  height:0;
  position:absolute; /*Le damos al before una posición absoluta relativa al li que lo contiene*/
  border-top:17px solid transparent;
  border-left:15px solid #641119;
  border-bottom:17px solid transparent;
  top:0px;
  right:-15px; /*Lo posicionamos -15px a la derecha de su contenedor*/
  z-index:4; /*le otorgamos un z-index alto para que se posicione arriba de otros elementeos*/
}
/*Colocamos el borde verde al triangulo por medio de otro trangulo verde*/
.current:after {
  content:"";
  width:0;
  height:0;
  position:absolute;/*Le damos al after una posición absoluta relativa al li que lo contiene*/
  border-top:16.5px solid transparent;
  border-left:17px solid #641119;
  border-bottom:17px solid transparent;
  top:.5px;
  right:-21px;
  z-index:1;  /*le otorgamos un z-index bajo para que se posicione debajo del trinagulo negro*/
}
/*Estos son los estilos de la hamburguesa del menú que abre y cierra el mismo*/
.menu-toogle {
  position:fixed; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
  width: 55px;
  height: 55px;
  line-height:1.7;
  text-align:center;
  top: 10px; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
  left: 10%; 
  border-radius:6px;
  background-color: #641119;
  /*transition: all .5s ease; Añadimos una transición para que realice un desplazamineto suave*/
  z-index:10;
}
/*Añadimos la haburguesa y le damos unos estilos*/
.menu-toogle::before {
  content:"☰";
  font-size:32px;
  color:white;
}

/* Le damos unos estilos al contenedor principal*/
.main-w {
  width:100%;
  
  transition: all .5s ease;
}   

/*Estos son los estilos que le dan la funcionalidad al menú*/
/*El checkbox según esté activado o no hará que el menú aparezca o desaparezca*/
.checkbox {
  display:none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
}
.checkbox:checked ~ .nav {
  left:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
  position:fixed; /* Fijamos el menú lateral para que se desplace cuando hagamos scroll*/
}
.checkbox:checked ~ .main-w {
  margin-left:200px; /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
}
/*.checkbox:checked ~ .menu-toogle { 
  left:208px;
  position:fixed; /*Fijamos la hamburgues para que se desplace junto con el menú*
}*/
