h2{
	text-align: center;
	font-size: 2rem;
	padding: 10px;
}
h3

li{
	list-style: none;
}

.users{
	width: 80%;
	margin: 50px auto 0 auto;
	border-radius: 12px;
	padding: 20px;
}

.UsuarioItem{
	border: 3px solid #951228;
	padding: 20px;
	border-radius: 12px;
	list-style: none;
}

.UsuarioItem a{
	display: inline-block;
	padding: 5px 10px;
	border-radius: 6px;
	cursor: pointer;
	color: #FFF;
}

.UsuarioItem a, label, p{
	font-size: 1.2rem;
	text-decoration: none;
}

.btnAzul{
	background: #0075c4;
}

.btnRojo{
	background: #951228;
}

.UsuarioItem .texto{
	display: inline-block;
	width: 37%;
}

.botones{
	display: inline-block;
	width: 20%;
	text-align: right;
	color: #FFF;
}

.UsuarioItem p{
	display:  inline-block;
	font-weight: bold;
}

