.content-gral{
	background: #641119;
	color: #FFF;
}
.caja{
	height: 27.25rem;
	width: 25rem;
	margin: 0 auto;
	/* border: 1px solid #fff; */
	margin-top: 5%;
}

.login{
	width: 100%;
	height: 70%;
	background: #FFF;
	border-radius: 10%;
	/* margin-bottom: 0; */
	/* position: relative;
	top: 20%; */
}

.caja > p{
	
	font-size: 1.5rem;
	text-align: center;
	display: block;
	padding: 30px, 0, 0, 0;
}

.login > p{
	color: #951228;
	font-size: 1rem;
	text-align: left;
	padding-top: 40px;
	padding-left: 50px;
	padding-bottom: 5px;
}

.login p:nth-child(1){
	padding-top: 15%;
}

.login .inputsTxt{
	margin-left: 50px;
	width: 18rem;
	height: 2.5rem;
	background: #ccc;
	border-radius: 8px;
	border-style: none;
}

.boton{
	display: block;
	background: #951228;
	width: 8rem;
	height: 3rem;
	text-align: center;
	border-radius: 8px;
	margin: 50px auto 0 auto;
	color: #fff;
	cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.2; /* Firefox */
}

span{
	text-align: center;
	display: block;
}