<div class="content-fluid">
	<div class="caja">
		<h2 class="title">ADMINISTRACIÓN</h2>
		<ul class="flujo">
			<li class="circulo verde"></li>
			<li class="linea" [ngClass]="{verde: paso >= 2}"></li>
			<li class="linea" [ngClass]="{verde: paso >= 2}"></li>
			<li class="circulo" [ngClass]="{verde: paso >= 2}"></li>
			<li class="linea" [ngClass]="{verde: paso >= 3}"></li>
			<li class="linea" [ngClass]="{verde: paso >= 3}"></li>
			<li class="circulo" [ngClass]="{verde: paso >= 3}"></li>
		</ul>
		<div class="espacio">
			<form class="formulario" *ngIf="paso == 1">
				<h3 class="subtitle">Asigna un nombre a tu plantilla</h3>
				<div class="subCaja">
					<div>
						<p>
							<input type="text" name="nombrePlantilla" class="inputTxt" placeholder=" Nombre Plantilla">
						</p>
					</div>
					<div class="btn">
						<input type="submit" (click)="Avanzar()" class="boton">
					</div>
				</div>
			</form>
			<form class="formularioProc" *ngIf="paso == 2">
				<h3 class="subtitle">Crear Proceso</h3>
				<div class="subCaja">

					<struct-proc></struct-proc>
					<div class="botones btn">
						<input type="submit" class="boton" value="Crear Plantilla" (click)="Avanzar()">
						<input type="submit" class="boton" value="Cancelar">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>