<div class="content-fluid">
	<div class="caja">
		<h2 class="titulo">Agregar Usuario</h2><!-- Titulo -->
		<ul class="flujo">
			<li class="circulo verde"></li>
			<li class="linea" [ngClass]="{verde: paso >= 2}"></li>
			<li class="circulo" [ngClass]="{verde: paso >= 2}"></li>
			<li class="linea" [ngClass]="{verde: paso >= 3}"></li>
			<li class="circulo" [ngClass]="{verde: paso >= 3}"><img src="../../assets/img/cycle.png" alt=""></li>
			<li class="linea" [ngClass]="{verde: paso >= 4}"></li>
			<li class="circulo" [ngClass]="{verde: paso >= 4}"></li>
		</ul>
		<div class="vistas">
			<form class="forma" *ngIf="paso == 1">
				<div>
					<label>Correo:</label> 
					<p>
						<input type="email" class="inputTxt" name="correo" placeholder="ejemplo@ejemplo.com" size="33" />
					</p>
				</div>
				<div class="boton">
					<input type="submit" (click)="Avanzar()" value="Validar Correo">
				</div>
			</form>
			<form class="forma" *ngIf="paso == 2">
				<div>
					<label>Correo: lisandro.martinez@cihumana.com</label>
				</div>
				<div>
					<label>Nombre:</label>
					<p>
						<input type="text" class="inputTxt" name="nombre" placeholder="Nombre" size="33" />
					</p>
				</div>
				<div>
					<label>Apellido Paterno:</label>
					<p>
						<input type="text" class="inputTxt" name="nombre" placeholder="Nombre" size="33" />
					</p>
				</div>
				<div>
					<label>Aperllido Materno:</label>
					<p>
						<input type="text" class="inputTxt" name="nombre" placeholder="Nombre" size="33" />
					</p>
				</div>
				<div>
					<label>Contraseña:</label> 
					<p>
						<input type="password" class="inputTxt" name="contraseña" placeholder="Contraseña"  size="33" />
					</p>
				</div>
				<div>
					<label>Confirmar contraseña:</label> 
					<p>
						<input type="password" class="inputTxt" name="confirmContraseña" placeholder="Contraseña"  size="33" />
					</p>
				</div>
				<div class="boton">
					<input type="submit" value="Guardar" (click)="Avanzar()" />
					<input type="submit" value="Cancelar" />
				</div>
			</form>
			<form class="forma-rol" *ngIf="paso == 3">
				<h2 class="titulo">Agregar Rol</h2><!-- Titulo -->
				<label>Rol:</label> 
				<input type="text" class="inputTxt" name="nombre" placeholder="Nombre Rol" size="33"/>
				<label>Proceso:</label> 
				<input type="text" class="inputTxt" name="nombre" placeholder="Nombre Proceso" size="33" /><br><br>
				<div class="boton">
					<input type="submit" value="Agregar Rol" />
				</div>
				
				<div class="boton">
					<input type="submit" value="Guardar" (click)="Avanzar()" />
					<input type="submit" value="Cancelar" />
				</div>
			</form>
			<form class="forma-fin" *ngIf="paso == 4">
				<div>
					<label>Correo: lisandro.martinez@cihumana.com</label>
				</div>
				<div>
					<label>Nombre: Lisandro Uriel</label>
				</div>
				<div>
					<label>Apellido Paterno: De los Santos</label>
				</div>
				<div>
					<label>Aperllido Materno: Martínez</label>
				</div>

				<div class="boton">
					<input type="submit" value="Finalizar" />
				</div>
			</form>
		</div>
	</div>

	<section class="related2">
			
	</section>
</div>