<div class="content-fluid">			
	<h2 class="Title">Proceso Detalles</h2><!-- Titulo -->
	
	<!--==============================
			Flujo del proceso
	===============================-->
	<div class="Flujo">
		<ul>
			<li class="ItemFlujo"><p class="Proceso BordeVerde">P1</p><label class="Pie">Proceso Uno</label></li>
			<li class="Conexion"><div class="Linea BordeVerde"></div></li>
			<li class="ItemFlujo"><p class="Actividad BordeVerde">A1</p><label class="Pie">Actividad Uno</label></li>
			<li class="Conexion"><div class="Linea BordeVerde"></div></li>
			<li class="ItemFlujo"><p class="Proceso BordeAzul">P3</p><label class="Pie">Proceso Tres</label></li>
			<li class="Conexion"><div class="Linea BordeGris"></div></li>
			<li class="ItemFlujo"><p class="Proceso BordeGris">PF</p><label class="Pie">Proceso Final</label></li>
		</ul>
	</div>
	
	<!--==============================
			Procesos pendientes
	===============================-->
	<div class="Pendientes-Det">
		<div class="Caja">
			<div class="Icono Circulo Amarillo"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
		<div class="Caja">
			<div class="Icono Cuadrado Rojo"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
		<div class="Caja">
			<div class="Icono Circulo Azul"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
		<div class="Caja">
			<div class="Icono Cuadrado Azul"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
		<div class="Caja">
			<div class="Icono Documento Amarillo"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
		<div class="Caja">
			<div class="Icono Documento Gris"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
		<div class="Caja">
			<div class="Icono Circulo Gris"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
	</div>
		
	<!--========================================================================================
	=            Tabla descriptiva del proceso o actividad que se esté vizualizando            =
	=========================================================================================-->
	
	<div class="Tabla">
		<ul class="Columnas Ins col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<li class="Rows Titulo">Insumos</li>
			<li class="Rows">
				<p>Insumo Uno</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<!-- <label class="switch">
					<input type="checkbox" id="togBtn">
					<div class="slider round">
						<span class="on">Complet</span>
						<span class="off">Complet</span>
					</div>
				</label> -->
				<!-- Rounded switch -->
				<div>
					<p>Insumo Dos</p>
					<label class="switch">
						<input type="checkbox">
						<span class="slider round"></span>
					</label>
				</div>
			</li>
			<li class="Rows">
				<p>Insumo Tres</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<p>Insumo Cuatro</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
		</ul>
		<ul class="Columnas ActProc col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<li class="Rows Titulo">Actividades / Subprocesos</li>
			<li class="Rows">
				<p>Actividad 1</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<p>Actividad 2</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<p>Actividad 3</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<p>Actividad 4</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<p>Actividad 5</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<p>Actividad 6</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
		</ul>
		<ul class="Columnas Entre col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<li class="Rows Titulo">Entregables</li>
			<li class="Rows">
				<img src="img/clip.png" alt="Adjuntar">
				<p>Entregable 1</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<img src="img/clip.png" alt="Adjuntar">
				<p>Entregable 2</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<img src="img/clip.png" alt="Adjuntar">
				<p>Entregable 3</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<img src="img/clip.png" alt="Adjuntar">
				<p>Entregable 4</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
		</ul>
	</div>
</div>