<div class="Alerta">
	<h2 mat-dialog-title class="titutloAlert">Aviso</h2>
	<div mat-dialog-content>
	  <p>{{data}}</p>
	  <!-- <mat-form-field>
	    <input matInput [(ngModel)]="data.animal">
	  </mat-form-field> -->
	</div>
	<div mat-dialog-actions>
	  <button mat-button (click)="okClick()" cdkFocusInitial>Aceptar</button>
	  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
	</div>
</div>
