<div class="content-fluid">
	<div class="caja">
		<h2 class="title">Editar Plantilla</h2>
		
		<div class="espacio">
			<div class="formularioCentrado" *ngIf="opc == 0">
				<h3 class="subtitle">Selecciona una Plantilla</h3>
				<select id="opcPlantilla" class="opcPlant" class="selectPlantEdit">
					<option value="Plantilla 1">Plantilla 1</option>
				</select>
				<div class="botones">
					<input type="button" class="boton" value="Seleccionar" (click)="Avanzar()" >
				</div>
			</div>
			<form class="formularioProc" *ngIf="opc == 1" >
				<h3 class="subtitle">Crear Proceso</h3>
				<div class="subCaja">
					<struct-proc></struct-proc>
					<div class="botones btn">
						<input type="submit" class="boton" value="Actualizar Plantilla">
						<input type="submit" class="boton" value="Cancelar" (click)="Regresar()">
					</div>
				</div>
			</form>
		</div>
		
	</div>
</div>