
<div class="content-fluid">
	<h2 class="titulo">Editar Usuario</h2>

	<div class="caja">
		<form class="formulario User" ngNativeValidate>
			<h3 class="subtitle">Datos Personales</h3>

			<div class="subCaja">
				<div>
					<label>Correo:</label>
					<p>
						<input type="email" class="inputTxt" name="correo" placeholder=" ejemplo@ejemplo.com" size="33" />
					</p>
				</div>
				<div>
					<label>Nombre(s):</label>
					<p>
						<input type="text" class="inputTxt" name="nombre" placeholder=" Nombre(s)" size="33" />
					</p>
				</div>
				<div>
					<label>Apellido Paterno:</label>
					<p>
						<input type="text" class="inputTxt" name="apPaterno" placeholder=" Apellido Paterno" size="33" />
					</p>
				</div>
				<div>
					<label>Apellido Materno:</label>
					<p>
						<input type="text" class="inputTxt" name="apMaterno" placeholder=" Apellido Materno" size="33" />
					</p>
				</div>
				<div class="btn">
					<input type="submit" class="boton" value="Actualizar Datos">
				</div>
			</div>
			
		</form>
		<form class="formulario Pass">
			<h3 class="subtitle">Cambiar Pasword</h3>
			<div class="subCaja">
				<div>
					<label>Contraseña:</label>
					<p>
						<input type="text" class="inputTxt" name="nombre" placeholder=" Contraseña" size="33" />
					</p>
				</div>
				<div>
					<label>Nueva contraseña:</label>
					<p>
						<input type="text" class="inputTxt" name="nombre" placeholder=" Nueva contraseña" size="33" />
					</p>
				</div>
				<div>
					<label>Confirmar contraseña:</label>
					<p>
						<input type="text" class="inputTxt" name="nombre" placeholder=" Confirmar contraseña" size="33" />
					</p>
				</div>
				<div class="btn">
					<input type="submit" class="boton" value="Actualizar Contraseña">
				</div>
			</div>
		</form>
	</div>
</div>