<div class="proceso" *ngFor="let element of procesos;let i = index; trackBy:trackByprocesos" >
	<div *ngIf="element.ID_Proc_Base == subIdProcesoPadre">
		<select name="opc" id="tipoProc" class="selectProc" [(ngModel)]="element.Tipo">
			<option [ngValue] = 1 >Proceso</option>
			<option [ngValue] = 2 >Actividad</option>
		</select>
		<input type="text" class="inputTxt" #input placeholder=" Nombre" [(ngModel)]="element.Nombre" (focus)="focusFunction(input)" >
		<input type="button" value="Editar" class="subBoton" (click)="btnEditarClick(element.Sub_ID)">
		<input type="button" value="Eliminar" class="subBoton" (click)="removeProc(i)">
		<textarea name="Descripcion" class="inputTxt areaTxt" placeholder=" Descripción" [(ngModel)]="element.Descripcion" ></textarea>
		<div class="config">
			<div class="chek">
				<label class="switch">
					<input type="checkbox" [checked]="element.Obligatorio" (change)="element.Obligatorio = !element.Obligatorio">
					<span class="slider round"></span>
				</label>
				<p>Obnligatorio</p>
			</div>
			<div class="chek">
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
				<p>Seriado</p>
			</div>
		</div>
	</div>
</div>
<div class="btn" id="btnadd">
	<input type="button" class="subBoton" value="+ Proceso o Actividad" (click)="addProc()">
	<input type="button" class="subBoton" value="Regresar" (click)="btnRegresarClick()" *ngIf="btnSubNivel == true">
</div>

