<form class="formularioProc" >
	<h3 class="subtitle">{{title}}</h3>
	<div class="listadoProcesos" *ngIf="opc == 1">
		<ul>
			<li>
				<div class="procesoFigure"></div>
				<label>Proceso 1</label>
				<input type="button" class="boton" value="Acceder">
				<input type="button" class="boton" value="Asignar Indicadores" (click)="ChangeOpc()">
			</li>
			<li>
				<div class="actividadFigure"></div>
				<label>Actividad 1</label>
				<input type="button" class="boton" value="Acceder">
				<input type="button" class="boton" value="Asignar Indicadores" (click)="ChangeOpc()">
			</li>
			<li>
				<div class="procesoFigure"></div>
				<label>Proceso 2</label>
				<input type="button" class="boton" value="Acceder">
				<input type="button" class="boton" value="Asignar Indicadores" (click)="ChangeOpc()">
			</li>
		</ul>
		<div class="botones">
			<input type="button" class="boton" value="Guardar y Continuar" (click)="Avanzar()">
		</div>
	</div>
	<ul class="estrucuraIndicadores" *ngIf="opc == 2">
		<li>
			<div class="dataProceso">
				<div class="datosIndic">
					<div class="procesoFigure"></div>
					<label name="" class="nombreItem">Proceso 1</label>
				</div>
				<div class="indicadores">
					<p class="subtitle">Indicadores</p>
					<ul>
						<li class="indicador">
							<p>% completado</p>
							<ul class="indicadorEspecifico">
								<li>
									<div class="SemVerde"></div>
									<p class="Semval">-- / --</p>
								</li>
								<li>
									<div class="SemAmarillo"></div>
									<p class="Semval">-- / --</p>
								</li>
								<li>
									<div class="SemRojo"></div>
									<p class="Semval">-- / --</p>
								</li>
							</ul>
						</li>
						<li class="indicador">
							<p>Tiempo</p>
							<ul class="indicadorEspecifico">
								<li>
									<div class="SemVerde"></div>
									<p class="Semval">-- / --</p>
								</li>
								<li>
									<div class="SemAmarillo"></div>
									<p class="Semval">-- / --</p>
								</li>
								<li>
									<div class="SemRojo"></div>
									<p class="Semval">-- / --</p>
								</li>
							</ul>
						</li>
						<li class="indicador">
							<p>Costo</p>
							<ul class="indicadorEspecifico">
								<li>
									<div class="SemVerde"></div>
									<p class="Semval">-- / --</p>
								</li>
								<li>
									<div class="SemAmarillo"></div>
									<p class="Semval">-- / --</p>
								</li>
								<li>
									<div class="SemRojo"></div>
									<p class="Semval">-- / --</p>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="llenadoIndicador">	
				<div class="tituloEstrategia">
					<p>% completado</p>
					<div class="SemVerde"></div>
				</div>
				<form>
					<div>
						<label>Limite inferior:</label>
						<input type="text" class="txtLlenado">
					</div>
					<div>
						<label>Limite superior:</label>
						<input type="text" class="txtLlenado">
					</div>
					<p>Estrategia:</p>
					<textarea class="AreaEstrategia" class="txtAreaLlenado"></textarea>
				</form>
			</div>
			<!-- <div class="botonesInternos">
				
			</div> -->
			<div class="botones">
				<input type="button" class="boton btnAplicar" value="Aplicar" >
				<input type="button" class="boton" value="Guardar" (click)="ChangeOpc()">
				<input type="button" class="boton" value="Cancelar" (click)="ChangeOpc()">
			</div>
		</li>
	</ul>
</form>