    <!-- Hack Para Desplegar el Menú activando un checkbox -->
<div class="menu" id='menu-tool'>
    <input type="checkbox" class="checkbox" id="menu-toogle"/>
    <label for="menu-toogle" class="menu-toogle" ></label>
    <nav class="nav">
        <a class="nav__item nav_selected" [routerLink]="['/proceso']">Procesos</a>
        <a class="nav__item" [routerLink]="['/detalle']">Detalle</a>
        <a class="nav__item" [routerLink]="['/indicadores']">Indicadores</a>
        <p class="nav__item">Administración</p>
        <a class="nav__item tab" [routerLink]="['/admin/proceso']">Crear Proceso</a>
        <a class="nav__item tab" [routerLink]="['/proceso']">Editar Proceso</a>
        <a class="nav__item tab" [routerLink]="['/admin/plantilla']">Agregar Plantilla</a>
        <a class="nav__item tab" [routerLink]="['/admin/edit-plantilla']">Editar Plantilla</a>
        <a class="nav__item tab" [routerLink]="['/proceso']">Agregar Rol</a>
        <a class="nav__item tab" [routerLink]="['/proceso']">Editar Rol</a>
        <a class="nav__item tab" [routerLink]="['/admin/user']">Agregar Usuario</a>
        <a class="nav__item tab" [routerLink]="['/admin/list-user']">Editar Usuario</a>
    </nav>
</div>


    <main class="main-w">
        <header class="header-w"> 
            <!--=====================================
            Cabecera para nombre de la aplicación
            ======================================-->
            <h1>HAP</h1>
        </header>

        <router-outlet></router-outlet>
    </main>

	
	<!--==================
     Menu del lado derecho
     ===================-->
   <!--  <div class="dropdown">
        <img src="../../assets/img/user3.png" width="55" height="55">
        <div class="dropdown-content">
        	 <a href="#">Lisandro M</a>
             <a href="#">Cuenta</a>
             <a href="#">Act/Proc</a>
             <a href="login.html">Salir</a>
        </div>
    </div> -->

    <!--==========================
    =            Menú            =
    ===========================-->
    



    
    <!--====  End of Menú  ====-->

