<div class="content-fluid">			
	<h2 class="Title">Herramienta de Administración de Procesos</h2><!-- Titulo -->

	<!--======================
			Gráficas
	=======================-->
	<div class="Graficas">
		<!--======================
				Gráficas 1
		=======================-->
		<div class="Chart col-lg-5 col-md-5 col-sm-5 col-xs-12">
			<img src="img/Captura.PNG">
			<p class="Pie">% Completado</p>
		</div>
		<!--======================
				Gráfica 2
		=======================-->
		<div class="Chart col-lg-5 col-md-5 col-sm-5 col-xs-12">
			<img src="img/Captura.PNG">
			<p class="Pie">Desviación</p>
		</div>
	</div>				
	
</div>