<div class="content-fluid">
	<h2>Usuarios Registrados</h2>

	<ul class="users">
		<li class="UsuarioItem">
			<div class="texto">
				<p>Nombre:</p>&nbsp;<label class="nombre">Lisandro Uriel De los Santos Martínez</label>
			</div>
			<div class="texto">
				<p>Correo:</p>&nbsp;<label class="nombre">lisandro.martinez@cihumana.com.mx</label>
			</div>
			<div class="botones">
				<a [routerLink]="['/admin/edit-user', 1]" class="btnAzul">Editar</a>
				<a class="btnRojo" >Eliminar</a>
			</div>
		</li>
	</ul>
</div>