<div class="content-fluid content-gral">
	
	<!--=====================================
	Caja dónde se almacenará el login
	======================================-->
	<form #formFavorito="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
		<div class="caja">
			<p>LOGIN</p> <!-- Titulo caja -->
			<div class="login"> <!-- div para crear la caja donde estará el fromulario -->
				<p>Usuario:</p>
				<input type="email" name="txtUsuario" class="inputsTxt" placeholder=" ejemplo@ejemplo.com" #txtUsuario="ngModel" [(ngModel)]="autentication.correo" required />
				<!-- <span *ngIf="txtUsuario.touched && !txtUsuario.valid">El correo no es correcto</span> -->
				<p>Contraseña:</p>
				<input type="password" name="txtPassword" class="inputsTxt" placeholder=" Contraseña" required #txtPassword="ngModel" [(ngModel)]="autentication.pass"/>
				<!-- <span *ngIf="txtPassword.touched && !txtPassword.valid">La contraseña no es válida</span> -->
				<input type="submit" class="boton" name="btnEntrar" value="ENTRAR"/>
			</div>
		</div>
	</form>
</div>