<div class="caja">
	<h2 class="Title">{{ proceso.Nombre }}</h2><!-- Titulo -->
	<div class="Content-line">
		<!--==============================
				Flujo del proceso
		===============================-->
		<div class="Flujo">
			<ul>
				<li *ngFor="let element of procesosPrinc; let i = index; trackBy:trackByprocesos">
					<div class="ItemFlujo">
						<p class="Proceso BordeVerde">
							{{ procesosPrinc[i].Sub_ID }}
						</p>
						<label class="Pie">
							{{ procesosPrinc[i].Nombre }}
						</label>
					</div>
					<div class="Conexion" *ngIf="i != (procesosPrinc.length - 1)">
						<div class="Linea BordeVerde"></div>
					</div>
				</li>
			</ul>
		</div>
	
		<!--======================
				Gráficas
		=======================-->
		<!-- <div class="Graficas"> -->
			<!--======================
					Gráficas 1
			=======================-->
			<!-- <div class="Grafica">
				<img src="img/Captura.PNG">
				<p class="Pie">% Completado</p>
			</div> -->
			<!--==============================
						Semaforor
			===============================-->
			<!-- <div class="Grafica">
				<div class="Semaforo">
					<div class="Circulo Verde"></div>
					<div class="Circulo AmarilloOpc"></div>
					<div class="Circulo RojoOpc"></div>
				</div>
			</div> -->
			<!--======================
					Gráfica 2
			=======================-->
			<!-- <div class="Grafica">
				<img src="img/Captura.PNG">
				<p class="Pie">% Desviacion</p>
			</div>
		</div>		 -->		
		
		<!--==============================
				Procesos pendientes
		===============================-->
		<div class="Pendientes">
				<div class="Caja">
					<div class="Icono Circulo Amarillo"></div>
					<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
					<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
					<p class="NombrePen">Actividad Dos</p>
					<p class="Responsable">Lisandor M.</p>
				</div>
				<div class="Caja">
					<div class="Icono Cuadrado Rojo"></div>
					<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
					<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
					<p class="NombrePen">Actividad Dos</p>
					<p class="Responsable">Lisandor M.</p>
				</div>
				<div class="Caja">
					<div class="Icono Circulo Azul"></div>
					<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
					<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
					<p class="NombrePen">Actividad Dos</p>
					<p class="Responsable">Lisandor M.</p>
				</div>
				<div class="Caja">
					<div class="Icono Cuadrado Azul"></div>
					<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
					<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
					<p class="NombrePen">Actividad Dos</p>
					<p class="Responsable">Lisandor M.</p>
				</div>
				<div class="Caja">
					<div class="Icono Documento Amarillo"></div>
					<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
					<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
					<p class="NombrePen">Actividad Dos</p>
					<p class="Responsable">Lisandor M.</p>
				</div>
				<div class="Caja">
					<div class="Icono Documento Gris"></div>
					<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
					<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
					<p class="NombrePen">Actividad Dos</p>
					<p class="Responsable">Lisandor M.</p>
				</div>
				<div class="Caja">
					<div class="Icono Circulo Gris"></div>
					<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
					<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
					<p class="NombrePen">Actividad Dos</p>
					<p class="Responsable">Lisandor M.</p>
				</div>
		</div>
	</div>
</div>